/ {
    chosen {
        zmk,underglow = &underglow;
    };

    underglow: led_strip {
        compatible = "zmk,underglow";
        label = "Underglow_Right";

        gpios = <&pro_micro 6 GPIO_ACTIVE_HIGH>;

        chain-length = <29>;
        color-mapping = <0 1 2>;
    };
};
