/ {
    chosen {
        zmk,underglow = &underglow;
    };

    underglow: ws2812 {
        compatible = "zmk,underglow";
        label = "Underglow_Left";

        chain-length = <29>;
        color-mapping = <LED_COLOR_ID_RGB>;

        /* Pin F4 del Pro Micro, definido en arduino_pro_micro_pins_v6.dtsi */
        data-gpios = <&pro_micro ARDUINO_PIN_F4 GPIO_ACTIVE_HIGH>;
    };
};
