/ {
    chosen {
        zmk,underglow = &underglow;
    };

    underglow: ws2812 {
        compatible = "zmk,underglow";
        label = "Underglow_Left";

        chain-length = <29>;
        color-mapping = <LED_COLOR_ID_RGB>;

        /* Sofle RGB usa D5 → P0.24 en nRF52840 */
        data-gpios = <&gpio0 24 GPIO_ACTIVE_HIGH>;
    };
};
