/ {
    chosen {
        zmk,underglow = &underglow;
    };

    underglow: ws2812 {
        compatible = "zmk,underglow";
        label = "Underglow";

        chain-length = <29>;                  /* Número de LEDs */
        color-mapping = <LED_COLOR_ID_RGB>;   /* SK6812 → RGB */
        /* Aquí se define el driver */
        spi-max-frequency = <4000000>;
        data-gpios = <&pro_micro 6 GPIO_ACTIVE_HIGH>;
    };
};
