/ {
    chosen {
        zmk,underglow = &underglow;
    };

    underglow: ws2812 {
        compatible = "zmk,underglow";
        label = "Underglow";

        chain-length = <29>;
        color-mapping = <LED_COLOR_ID_RGB>;

        /* Sofle RGB: el DIN de los LEDs está en F4 del Pro Micro */
        data-gpios = <&pro_micro 6 GPIO_ACTIVE_HIGH>;
    };
};
