/*
 * Mikoto v7.2.0 + Sofle: I2C fuel gauge + WS2812/SK6812 underglow (SPI)
 */

#include "mikoto-pinctrl.dtsi"
#include "arduino_pro_micro_pins_v6.dtsi"

/* ==== PINCTRL ==== */
&pinctrl {
    /* I2C1 (fuel gauge MAX17048) */
    i2c1_default: i2c1_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 23)>,
                    <NRF_PSEL(TWIM_SCL, 0, 19)>;
            bias-pull-up;
        };
    };

    i2c1_sleep: i2c1_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 23)>,
                    <NRF_PSEL(TWIM_SCL, 0, 19)>;
            low-power-enable;
            bias-pull-up;
        };
    };

    /* SPI1 para la tira (DIN en MOSI, aquí P0.06) */
    spi1_default: spi1_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK,  0, 2)>,   /* SCK dummy */
                    <NRF_PSEL(SPIM_MOSI, 0, 6)>;  /* MOSI -> DIN LEDs */
        };
    };

    spi1_sleep: spi1_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK,  0, 2)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 6)>;
            low-power-enable;
        };
    };
};

/* ==== I2C1 (Battery Fuel Gauge) ==== */
&i2c1 {
    status = "okay";
    compatible = "nordic,nrf-twi";
    pinctrl-0 = <&i2c1_default>;
    pinctrl-1 = <&i2c1_sleep>;
    pinctrl-names = "default", "sleep";

    builtin_fuel_gauge: max17048@36 {
        compatible = "zmk,maxim-max17048";
        status = "okay";
        reg = <0x36>;
    };
};

/* ==== SPI1 (LED Strip) ==== */
&spi1 {
    status = "okay";
    pinctrl-0 = <&spi1_default>;
    pinctrl-1 = <&spi1_sleep>;
    pinctrl-names = "default", "sleep";

    ws2812_ug: ws2812@0 {
        compatible = "worldsemi,ws2812-spi";
        label = "WS2812_UG";
        reg = <0>;
        spi-max-frequency = <8000000>;

        chain-length = <56>;
        color-mapping = <1 0 2>;

        spi-one-frame  = <0x70>;
        spi-zero-frame = <0x40>;
    };
};

/* ==== CHOSEN ==== */
 / {
    chosen {
        zmk,underglow = &ws2812_ug;
    };
};
