/*
 * Mikoto v7.2.0 + Sofle: SK6812/WS2812 underglow (SPI)
 */

#include "mikoto-pinctrl.dtsi"
#include "arduino_pro_micro_pins_v6.dtsi"

/* ==== PINCTRL ==== */
&pinctrl {
    spi1_default: spi1_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK,  0, 2)>,   /* dummy */
                    <NRF_PSEL(SPIM_MOSI, 0, 6)>;  /* DIN -> P0.06 */
        };
    };

    spi1_sleep: spi1_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK,  0, 2)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 6)>;
            low-power-enable;
        };
    };
};

/* ==== SPI1 (LED STRIP) ==== */
&spi1 {
    status = "okay";
    pinctrl-0 = <&spi1_default>;
    pinctrl-1 = <&spi1_sleep>;
    pinctrl-names = "default", "sleep";

    ws2812_ug: ws2812@0 {
        compatible = "worldsemi,ws2812-spi";
        label = "WS2812_UG";
        reg = <0>;
        spi-max-frequency = <8000000>;

        /* Ajusta la cantidad real de LEDs */
        chain-length = <56>;

        /* SK6812 mini-e = GRB */
        color-mapping = <1 0 2>;

        /* Timings SPI */
        spi-one-frame  = <0x70>;
        spi-zero-frame = <0x40>;
    };
};

/* ==== CHOSEN ==== */
 / {
    chosen {
        zmk,underglow = &ws2812_ug;
    };
};
